---
const { title, description, locale, site_name, structuredData } =
  Astro.props.metadata;
const data = structuredData;
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="sitemap" href="/sitemap-index.xml" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link
    rel="preload"
    href="/fonts/Montserrat.woff2"
    as="font"
    type="font/woff2"
    crossorigin="anonymous"
  />

  <title>{title}</title>
  <meta name="description" content={description} />
  <link rel="canonical" href="https://www.mahoysolutions.com/" />
  <meta name="generator" content={Astro.generator} />

  <meta property="og:type" content="website" />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:url" content="https://www.mahoysolutions.com/" />
  <meta property="og:site_name" content={site_name} />
  <meta
    property="og:image"
    content="https://www.mahoysolutions.com/logo1.png"
  />
  <meta property="og:locale" content={locale} />

  <script type="application/ld+json" set:html={JSON.stringify(data)} />
</head>
