---
const { alt, href, name }: MahoySocialMedia = Astro.props.mediaLink;
---

<a
  href={href}
  target="_blank"
  class="flex items-center mx-auto font-semibold hover:scale-110 gap-1 transition-all duration-200"
>
  <img
    loading="eager"
    title={name}
    class="size-7"
    src=`/assets/${name.toLowerCase()}.svg`
    alt={alt}
  />
  <span>
    {name}
  </span>
</a>
